* {
  user-select: none;
  margin: 0;
  padding: 0;
}

.outer {
  max-width: 600px;
  min-height: 100vh;
  border: 1px solid black;
  margin: auto;
  position: relative;
}

.outer .App {
  width: 100%;
  min-height: 50%;
  position: absolute;
  // border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer .App .countScore {
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 50%;
  position: relative;
}
.outer .App .countScore h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #596369;
}
.outer .App .countScore h3 span {
  font-weight: bolder;
  color: black;
}
.outer .App .countScore .spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 0;
  left: -15px;
  top: -15px;
}

.outer .highScore {
  width: 100%;
  min-height: 50%;
  position: absolute;
  top: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.outer .highScore .row {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  // border: 1px solid #596369;
  width: 70%;
}
.outer .highScore .row span:nth-child(1) {
  color: red;
}
.outer .highScore .row span:nth-child(2) {
  color: black;
  display: inline-block;
  padding: 2px;
  border: 2px solid yellow;
}
.outer .highScore .row span:nth-child(3) {
  color: green;
}

// Animation Balls
.conatainer1 {
  width: 30px;
  height: 30px;
  border: 1px solid #3498db;
  background-color: rgb(111, 173, 111);
  position: absolute;
  border-radius: 50%;
  top: 0;
  cursor: pointer;
  z-index: 1000;
}
.conatainer2 {
  width: 30px;
  height: 30px;
  border: 1px solid #575757;
  background-color: yellow;
  position: absolute;
  top: 40px;
  border-radius: 50%;
  left: 100px;
  cursor: pointer;
  z-index: 1000;
}
.conatainer3 {
  width: 30px;
  height: 30px;
  border: 1px solid #3498db;
  background-color: red;
  // position: absolute;
  position: relative;
  top: 80px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
